.block {
   padding-left: 32px;
   width: 210px;
   border-radius: 100px;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
   transition: all 0.3s ease 0s;

   &:hover {
      background-color: #fff;
   }
}

.title {
   user-select: none;
}

.popup {
   position: absolute;
   left: 0;
   top: calc(100% + 12px);
   width: 345px;
   height: 270px;
   background-color: #fff;
   border-radius: 28px;
   display: none;

   &.active {
      display: block;
   }

   overflow: hidden;
}

.content {
   padding-left: 32px;
   padding-top: 12px;
}

.label {
   padding: 0px 3px;
   display: flex;
   align-items: center;
   gap: 8px;
   width: 280px;
   border-radius: 8px;
   transition: all 0.3s ease 0s;

   &_active {
      box-shadow: 0px 4px 0px #0000001e;
   }

   input {
      outline: none;
      border: 0;
      font-weight: 700;
      font-family: Inter;
      font-size: 12px;
      width: 100%;

      &::placeholder {
         font-weight: 400;
      }
   }
}

.list {
   overflow-y: auto;
   margin-top: 12px;
   height: 212px;
   margin-right: 5px;
   display: flex;
   flex-direction: column;
   gap: 12px;

   &::-webkit-scrollbar {
      width: 5px;
   }

   &::-webkit-scrollbar-track {
      background: transparent;
      height: calc(100% - 15px);
   }

   &::-webkit-scrollbar-thumb {
      background: #adadad;
      height: 95px;
      border-radius: 10px;
   }
}

.item {
   width: 100%;
   display: flex;
   align-items: center;
   width: 279px;
   gap: 10px;
   border-radius: 8px;
   transition: all 0.3s ease 0s;

   img {
      width: 48px;
      height: 48px;
      object-fit: cover;
      border-radius: 8px;
   }

   h3 {
      position: relative;
      width: 166px;
      &::after {
         content: '';
         position: absolute;
         bottom: -3px;
         left: 0;
         width: 100%;
         height: 2px;
         background: transparent;
         transition: all 0.3s ease 0s;
      }
      font-size: 14px;
   }

   &:hover {
      box-shadow: 0px 4px 0px #0000001e;
      transform: translateY(2px);
      h3::after {
         background: #333;
      }
   }

   &_cat {
      img {
         width: 24px;
         height: 24px;
         margin: 10px;
      }
   }
}
