.searchForm {
   .content {
      display: flex;
      justify-content: space-between;
      width: 815px;
      background: #f5f5f5;
      border-radius: 100px;
      height: 70px;
      align-items: center;
   }

   .button {
      margin-right: 32px;
      width: 40px;
      height: 40px;
      position: relative;
      background-color: #fff;
      filter: invert(1);
      border-radius: 100%;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease 0s;

      img {
         position: absolute;
         width: 24px;
         height: 24px;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }

      &:hover {
         transform: scale(1.1);
      }
   }
}