.gyms {
   flex: 1; /* Займає половину сторінки */
   display: flex;
   flex-direction: column;

   .nav {
      display: flex;
      position: relative;
   }

   .list {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 10px; /* Відступи між картками */
      overflow-y: auto; /* Додаємо скрол */
      padding: 10px;
   }
}

.distance {
   display: inline-flex;
   user-select: none;
   align-items: center;
   justify-content: center;
   gap: 8px;
   color: #fff;
   background-color: #65aac3;
   padding: 7px 12px;
   border-radius: 24px;
   cursor: pointer;
   img {
      filter: invert(1);
   }
   transition: all 0.3s ease 0s;

   &:hover {
      background-color: #92b4c0;
   }

   &:active {
      background-color: #408ba7;
   }
}

.distance_menu {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #ececec;
   z-index: 10;
   border-radius: 10px;
   width: 350px;
   padding: 20px 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   img {
      position: absolute;
      right: 10px;
      top: 10px;
      filter: invert(1);
      cursor: pointer;
   }

   h3 {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
   }

   /*********** Input styles ***********/
   /* #region */
   input[type='range'] {
      margin-top: 20px;
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      cursor: pointer;
      width: 250px;
   }

   /* Removes default focus */
   input[type='range']:focus {
      outline: none;
   }

   /******** Chrome, Safari, Opera and Edge Chromium styles ********/
   /* slider track */
   input[type='range']::-webkit-slider-runnable-track {
      background-color: #919599;
      border-radius: 0.5rem;
      height: 2px;
   }

   /* slider thumb */
   input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      margin-top: -7.5px; /* Centers thumb on the track */
      background-color: #408ba7;
      border-radius: 1.5rem;
      height: 16px;
      width: 16px;
   }

   input[type='range']:focus::-webkit-slider-thumb {
      outline: 3px solid #408ba7;
      outline-offset: 0.125rem;
   }

   /*********** Firefox styles ***********/
   /* slider track */
   input[type='range']::-moz-range-track {
      background-color: #408ba7;
      border-radius: 0.5rem;
      height: 1px;
   }

   /* slider thumb */
   input[type='range']::-moz-range-thumb {
      background-color: #408ba7;
      border: none; /*Removes extra border that FF applies*/
      border-radius: 1.5rem;
      height: 16px;
      width: 16px;
   }

   input[type='range']:focus::-moz-range-thumb {
      outline: 3px solid #408ba7;
      outline-offset: 0.125rem;
   }
   /* #endregion */

   .distance_menu_range {
      display: flex;
      justify-content: space-between;
      width: 250px;

      span {
         display: flex;
         flex-direction: column;
         align-items: start;

         &:last-child {
            align-items: end;
         }

         p {
            font-size: 14px;
            font-weight: 500;
            color: #000;
            margin-bottom: 5px;
         }

         div {
            padding: 4px 10px;
            cursor: pointer;
            border-radius: 24px;
            border: 1px solid #c4c4c4;
            font-size: 14px;
            transition: all 0.3s ease 0s;

            &:hover {
               background-color: #fff;
            }

            &:active {
               background-color: #c4c4c4;
            }
         }
      }
   }

   button {
      background-color: #65AAC3;
      color: #fff;
      border: none;
      padding: 5px 45px;
      border-radius: 24px;
      cursor: pointer;
      font-size: 16px;
      transition: all 0.3s ease 0s;

      &:hover {
         background-color: #92b4c0;
      }
      
      &:active {
         background-color: #408ba7;
      }
   }
}
